#countLabel{
    display: block;
    text-align: center;
    font-size: 10em; // 10x normal size
    font-family: Helvetica;
}

#buttonContainer {
    text-align: center;
}

.buttons {
    padding 10px 20px;
    font-size: 1.5em; // 150%
    color: white;
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: rgb(92, 194, 228);
}
